<section class="documentation-section full">
  <headerBlade>
    <h3>{{fileName}}</h3>
  </headerBlade>
  <div class="content">
    {{#each modules}}
      {{>dox-module}}
    {{/each}}
  </div>

  <aside class="side-notes">

  </aside>
</section>
